<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=
    , initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Resume</title>
</head>

<body>
    
    <div class=" mx-12 my-4">
        <!-- main heading for name and other info -->
        <div class="border-b-2 border-double border-black">
            <ul class="list-none text-center border-b-2 border-double border-black mb-1">
                <li class="text-5xl font-black">
                    Itish Jain
                </li>
                <li class="text-2xl font-bold">
                    Python Developer
                </li>
                <li class="text-xl mb-3">
                    
                </li>
            </ul>
        </div>
        
    </div>
    <!-- <p class="right-2 absolute text-sm">Made Using CSS</p> -->
</body>

</html>